@import "../../../../less/variables";
@import '../../../../less/mixins';
@import "../../../../less/rwd";

.itemsList {
    
    h4 {
        margin-bottom: 0;
        padding: 0;
    }
    .listcontainer {
        .border-radius(5px); 
        list-style-type: none;
        margin: auto;
        padding: 0;
        max-width: 400px;
        margin: 5px auto 10px;
        border: 1px solid transparent;
        .listitem {
            padding: 5px 0px;
            background: @lightgrey;
         &:nth-of-type(2n) {
            background: @darkgrey;
         }  
        }
    }
}
