@import "../../../less/variables.less";
@import '../../../less/mixins.less';
@import "../../../less/rwd";

.repo {
    .label {
        font-weight: bolder;
    }
    .border-radius(5px);
    border: 1px solid darken(@darkgrey, 20%);
    max-width: 600px;
    margin: 20px auto;
    
    .title{
        background: @darkgrey;
        .border-radius(5px); 
        h3 {
            margin: 0 auto;
            padding: 5px;
        }   
    }
    .content {
        background: white;
        padding: 10px;
        
        .border-radius(5px);
    }
}